<div id="product_just_stars" class="big"></div>
<script type="text/javascript">
  var sa_product = '{{ product.handle }}'; function saLoadScript(src) 
  { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; 
  document.getElementsByTagName("head")[0].appendChild(js); } 
  saLoadScript('//www.shopperapproved.com/product/29142/'+sa_product+'.js');
</script>