<h3>Product Reviews from Verified Customers</h3>
<script type="text/javascript"> 
  var sa_products_count = 10; var sa_date_format = 'F j, Y'; var sa_product = '{{ product.handle }}'; 
  function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; 
  js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } 
  saLoadScript('//www.shopperapproved.com/product/29142/'+sa_product+'.js'); 
</script>
<div id="shopper_review_page"><div id="review_header"></div>
<div id="product_page"></div>
<div id="review_image"><a href="http://www.shopperapproved.com/reviews/YourStoreURL.com/" 
  onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; 
  var certheight=screen.availHeight-90; 
  window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); 
  return false;" target="_blank" rel ="nofollow"></a>
</div>
</div>