<div class="page-width">
{% for document in shop.metaobjects.documents.values %}
  
  {{ document.document_name }}

      
{{ document.select_file }}

  
  {% endfor %}

</div>


{% schema %}
  {
    "name": "get document",
    "settings": [],
    "presets": [
      {
        "name": "Get Documents"
      }
    ]
  }
{% endschema %}