<script type="text/javascript">
// <![CDATA[
var sa_review_count = 20; var sa_date_format = 'F j, Y'; function saLoadScript(src) 
{ var js = window.document.createElement("script"); js.src = src; 
js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } 
saLoadScript('//www.shopperapproved.com/merchant/29142.js');
// ]]>
</script>
<div id="review_header"></div>
<div id="merchant_page"></div>
<div id="review_image">
  <a href="http://www.shopperapproved.com/reviews/pallavi-design.myshopify.com/" target="_blank" rel="nofollow noopener noreferrer"></a>
</div>